# Turn rewrite engine on
Options +FollowSymlinks

# OJO set configuration apache AllowOverride All in <Directory /var/www/>
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^mobile/list/$   RestController.php?view=all [nc,qsa]
RewriteRule ^mobile/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]